.header {
  p {
    color: #572388;
    font-size: 30px;
    font-family: system-ui;
    font-weight: 700;
    margin: 5px;
  }

  hr {
    height: 5px;
    background-color: #572388;
    box-shadow: 0 4px 4px 0 #5723889e;
    border: none;
    border-radius: 40px;
  }
}

.input-short {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  .input-container {
    border: solid 3px #572388;
    border-radius: 20px;
    background-color: #d3bce8;
  }

  .input {
    border: none;
    outline: none;
    width: 200px;
    height: 20px;
    margin: 5px;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 50px;
    padding: 1px 5px;
    transition: 400ms;

    &:focus {
      background-color: rgb(255 255 255);
    }
  }

  .button {
    margin: 5px;
    transition: 400ms;

    &:hover {
      cursor: pointer;
      color: #572388;
      text-decoration: underline;
    }
  }
}

.shorted-url {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3bce8;
  margin: 10px;
  border-radius: 10px;

  p {
    border: 3px solid #572388;
    padding: 5px;
    border-radius: 10px 0 0 10px;
  }

  span {
    border: 3px solid #572388;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    border-left: none;
    transition: 400ms;
    background: rgb(255 255 255 / 30%);

    &:hover {
      cursor: pointer;
      background-color: rgb(255 255 255 / 50%);
    }
  }
}
